.header{
  width:100%;
  position: relative;
}

#loginStuff{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: white;
}
h1{
  margin:auto;
  width: fit-content;
}

.area{
    margin:auto;
    width: min(1200px, 90%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
  background-color: #2196F3;
  margin:20px;
  padding:20px;
  padding-top:0px;
  width:300px;
  border-radius: 20px;
}

h2{
  margin: auto;
  margin-top: 10px;
  width: fit-content;
}

.container div{
  margin:auto;
}

  .singleLine{
      display: inline-block;
  }

  .left{
      width: 160px;
  }

  .center{
      width: 60px;
  }

  .disabled{
    background-color: red;
  }

  button{
    disab
  }